*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
.main{
    height:100%;
    width:100%;
    position:relative;
    
}

.nav{
    /* position:fixed; */
    height:50px;
    width:100%;
    background-color: #1D2A35;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    padding:1vw 2vw;
}
.nav1 h3{
    text-align: center;
    height:4vw;
    color:#FFFFFF;
    padding:1.5vw 1vw;
    font-size: 1.2vw;
}
.nav1 h3:hover{
    background-color: #04AA6D;
}
.nav img{
    margin-right:2vw;
    height:8vh;
    width:3vw;
}
.nav1{
   
    display:flex;
    gap:2.5;
    align-items: center;
}
.nav2{
   /* position: fixed; */
    font-weight: 100;
    display:flex;
    
    font-size: 1.7vw;
    align-items: center;
}
.nav2 h6{
    padding:1.5vw 1vw;
    font-size: 1vw;;
}
.nav2 h6:hover{
    background-color: #000000;
    cursor: pointer;
    border-radius:3vw; 
}
.nav2 i{
    margin:5px;
    font-size: 18px;
    color:#9763F6;
    
}
.nav2 .ri-gift-line{
    margin:5px;
    font-size: 18px;
    color:#04AA6D;
}
.nav2 .signup{
    border:none;
    border-radius:20px;
    background-color: #04AA6D;
    padding:1.1vw;
    font-size: 1.3vw;
    font-weight: 200;
}
.navpart2{
    /* position:fixed; */
    font-weight: 100;
    height:40px;
    width:100%;
    background-color: #0D1721;
    color:#FFFFFF;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1.5vw;

}
.navpart2-left{
    display:flex;
    font-size: 1.4vw;
    /* width:80%; */
    font-weight: 100;
    align-items: center;
}

.navpart2-left h6{
padding:1vw 1.2vw;
 font-weight: 100;
}
.navpart2-left h6:hover{
background-color: #000000;
cursor: pointer;
}
.navpart2-right{
    /* width:20%; */
    display:flex;
    align-items: center;
    font-size: 1.4vw;
    
}
.navpart2-right i{
    padding:0.8vw 1.2vw;
    font-weight: 100;
 
}
.navpart2-right i:hover{
    background-color: #000000;
    cursor: pointer;
}

.content{
    height: calc(100% - 95px);
    width:100%;
    background-color:#0D1721 ;
    position:absolute;
   
}
.home{
    margin-top:8vw;
    height:50%;
    width:100%;
    /* background-color: aqua; */
    text-align: center;
    color:#FFFFFF;
}
.home h1{
    font-style: bold;
    font-weight: 900;
    font-size: 5.3vw;
    margin-bottom:2vw;
}
.home h3{
    font-size:1.8vw;
    margin-bottom:2.5vw;
    color:#FFC0C7;
    
}
.search{
    background-color: #FFFFFF;
    display: flex;

    justify-content: center;
    align-items: center;
    
    border-radius: 2vw;
    background-color:#0D1721;
}
.search input{
    
    padding:1vw 3vw;;
    border:none;
    width:31vw;
    /* border:white; */
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    
}

::placeholder{
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 0.9;
}
.search .ri-search-line{
    padding:1vw 3vw;
    background-color: #04AA6D;
    border-top-right-radius:2vw ;
    border-bottom-right-radius:2vw ;
    
}
 .anchor{
    font-size: 1.6vw;
    margin-top: 3vw;
}
a{
    color:white;
    font-weight: 700;
    

}
a:hover{
    color:#04AA6D
}
.sec-main{
    width:100%;
    height:100%;
    background-color:#D9EEE1 ;
    display:flex;
}

.sec-main .left{
    height:100%;
    width:50%;
    
}
.left .container{
    margin:4vw 11vw;
    height:90%;
    width:75%;
    /* border:solid red 2px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    font-size: 6vw;
    font-weight: 900;
    margin-bottom: 2vw;
}
.container h3{
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 2.5vw;
}
button{
    margin-bottom:1.5vw;
    padding:1.5vw 3vw;
    border:none;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-weight: 600;
    opacity: 0.8;
    
}
button:hover{
    opacity: 1;
}


.learn{
    background-color: #04AA6D;
    color:white;
}

.video{
    background-color: #FFF080;
}
.ref{
    background-color: #000000;
    color:white;
}
.certi{
    background-color: #FFB3BB;
}
.sec-main .right{
    height:100%;
    width:50%;
    /* background-color: #ff3030; */
}
 .box{
    border-radius: 5px;
    height:90%;
    width:70%;
    background-color: #38444D;
    margin:4vw ;
}

.box h3{

    color: #DDDDDD;
    padding:1.7vw;
    font-size:2vw;
    
}
.chutu-box{
    background-image: url('htmlbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    height:60%;
    width:90%;
    background-color: #15202B;
    margin-top: 1.3vw;
    margin-left:  1.3vw;
}
.btn{
    margin-top: 2vw;
    margin-left: 1.3vw;
    background-color: #04AA6D;
    color: white;
    /* padding:3vw; */
}
@media(max-width:600px){
    .main{
        width:100%;
        height:100%;
    }
    .nav{
        width:100%;
        height:20vh;
        
    }
    .nav1 img{
        width:10vw;
        height:14vw;
    }
    .nav2 h6:nth-child(-n+2){
        display:none;
    }
    .nav2 .signup{
        font-size: 2.5vh;
        padding:3vh 2vh;
    }
    
    .nav2 h6{
        font-size: 3.5vh;
        
        /* padding:2vh; */
        /* width:20vw; */


    }

    .nav1 h3{
        display:none;
    }
    
    .navpart2-left h6:nth-last-child(-n+9){
        display:none;

    }
    .navpart2-left{
        display:flex;
       /* flex-direction: column; */
        
    }
    .navpart2-left h6{
        font-size:3.6vw;
        padding:1.5vh 3vw;
    }
    .navpart2-right{
        display:none;
    }
    .content{
        height:calc(100% - 20vh - 40px);
        width:100%;
        /* border:solid red 2px; */

    }
    .home{
        height:50%;
        /* border:solid red 2px; */
        margin-top:15vh;
    }
    .home h1{
        font-size:5vh;
        margin-bottom:5vh;
    }
    .home h3{
        font-size:2vh;
        margin-bottom:5vh;
    }
    .search{
        width:100%;

    }
    .search input{
        width:60%;
    }
    ::placeholder{
        padding:1vh;
        font-size: 1.5vh;
    }
    .anchor{
        font-size: 2vh;
        margin-top: 5vh;
    }
    .sec-main{
        height: 100%;
        width:100%;
        flex-direction: column;
    }
    .sec-main .left{
        /* border: solid black 2px;; */
        width:100%;
        height:50%;
    } 
    
    .container h1{
        font-size: 6vh;
    }
    .container h3{
        font-size: 2.8vh;
    }
    button{
        
        font-size: 2.5vh;
        /* padding:2vh 0vw; */
       
    }
    .video{
       margin:1.5vh; 
    }
    .ref{
        margin-bottom:1.5vh; 
    }
    .sec-main .right{
        width:100%;
        height:50%;
    }
    .right .box{
        margin-left:14vw;
    }
    .box h3{
        font-size: 2.5vh;
    }
}